.instagram__img {
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

@media screen and (max-width: 781px) {
  .instagram__img {
    min-width: 224px;
  }
}
