.instagram__list {
  margin: 0 0 45px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.2s;
}

@media screen and (max-width: 781px) {
  .instagram__list {
    max-height: 480px;
  }
}
