.instagram__list {
  margin: 0 0 45px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  box-sizing: border-box;
  transition: max-height 0.2s;
}

@media screen and (max-width: 781px) {
  .instagram__list {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: start;
  }
}
