.burger-button {
  position: relative;
  padding: 12px 0;
  border: none;
  background-color: transparent;
  width: 30px;
  cursor: pointer;
  display: none;
}

.burger-button::before,
.burger-button::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--color-text-white);
  right: 0;
  transition: transform 0.2s, top 0.2s, bottom 0.2s;
}

.burger-button::before {
  top: 0;
}

.burger-button::after {
  bottom: 0;
}

@media screen and (max-width: 700px) {
  .burger-button {
    display: block;
  }
}
